.mainhead {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;

  animation: colorShift 4s ease-in-out infinite,
             floatText 3s ease-in-out infinite;
}

.chat-box {
  height: 500px;
  display: flex;
  flex-direction: column;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.bubble {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 75%;
}

.bubble.user {
  background:#e6e6e6;
  color:black;
  margin-left: auto;
}

.bubble.ai {
  background: #e7f1ff;
  color: black; 
}

.ai-chart {
  height: 800px;
  overflow: auto; /* important */
  border: 1px solid #ddd;
}
.Ai{
  color:blue;
}
.table{
  text-align: center;
}
.custom-alert {
  position: fixed;          /* 🔥 important */
  top: 20px;
  right: 20px;

  min-width: 220px;
  max-width: 320px;

  padding: 10px 16px;
  border-radius: 6px;

  color: black;
  font-size: 14px;
  font-weight: 500;

  box-shadow: 0 4px 12px rgba(0,0,0,0.15);

  z-index: 9999;

  animation: slideIn 0.3s ease;
}

/* SUCCESS */
.custom-alert.success {
  background: #28a745;
}

/* ERROR */
.custom-alert.error {
  background: #dc3545;
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.show{
  color: blue;
  margin-right:5px;
}
.idea{
  color:blue;
  margin-right: 2px;
}
